:root {
    --purple-color: #3c3eb9;
    --purple-black-color: #04054c;
    --menu-background: #121621;
    --text-menu: #b3b9c6;
}

.appbar-header {
    position: fixed !important;
    background-color: var(--purple-black-color) !important;
}

.toolbar-header {
    padding-left: 330px !important;
}

.box-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--purple-black-color);
    border-bottom: 1px solid var(--text-menu);
    height: 20vh;
}

.ico-logo-menu {
    width: 10vh !important;
    height: 10vh !important;
    color: var(--text-menu);
}

.text-logo-menu {
    color: var(--text-menu);
    background-color: var(--menu-background);
    width: 25vh;
    display: flex;
    justify-content: center;
    border-radius: 10vh;
}

.box-menu {
    background-color: var(--menu-background);
    overflow: auto;
    height: 100vh;  
}

.ico-menu-item {
    color: var(--text-menu) !important;    
}

.text-menu-item {
    color: var(--text-menu) !important;
    font-weight: bold !important;
}

.item-menu-click-active {
    background-color: var(--purple-color);
    transition: background-color 0.3s ease, border-left 0.3s ease;
}
.item-menu-click-active:hover {
    background-color: var(--purple-color) !important;
    transition: background-color 0.3s ease, border-left 0.3s ease;
}

.box-main-category {
    height: 50vh;
    margin: 10vh;
}